<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %> - Blogish</title>
    <link rel="stylesheet" href="/css/style.min.css" />
    <script src="/js/bundle.js" defer></script>
  </head>
  <body>
    <div class="page-wrapper">
      <header class="main-header">
        <div class="main-header__logo">
          <a href="/">
            Blogish
          </a>
        </div>

        <nav class="main-header__nav">
          <ul>
            <li>
              <a
                href="/"
                class="<%-  (active === 'home') ? 'active-page' : '' %>"
                >Home</a
              >
            </li>
            <li>
              <a
                href="#"
                class="<%-  (active === 'about') ? 'active-page' : '' %>"
                >About</a
              >
            </li>
            <li>
              <a
                href="#"
                class="<%-  (active === 'contact') ? 'active-page' : '' %>"
                >Contact</a
              >
            </li>

            <li>
              <a
                href="/login"
                class="<%-  (active === 'login') ? 'active-page' : '' %>"
                >Login</a
              >
            </li>
          </ul>
        </nav>
      </header>
      <div class="page-body">
        <main class="main"></main>
      </div>
    </div>
  </body>
</html>
